.zig-cache/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
zig-out/
zig-cache/
*.tar.gz
flake.lock.bak
tmp/
**/target/*
**/__pycache__/*
wrk/go/main
wrk/csharp/bin/
wrk/csharp/obj/
wrk/csharp/out/
scratch
**/.mypy_cache/*
.DS_Store
.vs/
**/*.perflog
wrk/*.png
